$transition-time: 1s;
$map-height: 80vh;

.tab-map {
  overflow-x: hidden;

  #google-map-view {
    float: left;
    width: 100%;
    height: $map-height;
    transition: width $transition-time;
  }

  // @todo Leo y'aura du css à faire :p
  #events-details {
    float: right;
    width: 0;
    height: $map-height;
    transition: width $transition-time;
    overflow-y: scroll;

    .events-details-close {
      cursor: pointer;
      padding: 0.4em;
    }

    .events-details-title {
      margin: 0 auto;
    }

    .mat-expansion-panel {
      padding: 1em 0;
    }
  }
}
