<div class="tab-map">
    <div class="selects">
        <mat-form-field class="select-container">
            <mat-select [(value)]="eventsType" (change)="refreshMarkers()" multiple>
                <mat-option value="Events">Events</mat-option>
                <mat-option value="Museums">Museums</mat-option>
                <mat-option value="Cinemas">Cinemas</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="select-container">
            <mat-select [(value)]="quarters" (change)="refreshMarkers()" multiple>
                <mat-option *ngFor="let quarter of env.cpList" [value]="quarter">{{quarter}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div #googleMapView id="google-map-view"></div>
    <div #eventsDetails id="events-details">
        <mat-toolbar>
            <mat-icon (click)="closeEventsDetails()" class="icon events-details-close">close</mat-icon>
            <span class="events-details-title center">Manifestations culturelles</span>
        </mat-toolbar>
        <mat-expansion-panel *ngFor="let event of events">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>{{event.name}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <p class="date">{{renderDate(event.periode.start)}}</p>
            <mat-divider *ngIf="event.description"></mat-divider>
            <p>{{event.description}}</p>

        </mat-expansion-panel>
    </div>
</div>
