<div class="tab-array">
    <div class="header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>

    <div class="container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="coords">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a href="https://www.google.fr/maps/@{{row.coordinate.latitude}},{{row.coordinate.longitude}},17z" target="_blank" *ngIf="row.coordinate.latitude && row.coordinate.longitude">
                    <mat-icon>location_on</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a href="{{row.website}}" target="_blank" *ngIf="row.website">
                    <mat-icon>info_outline</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dp">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Zip</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.arrondissment}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Info</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="date">{{row.date}}</span>
                <mat-divider *ngIf="row.date"></mat-divider>
                {{row.description}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </div>
</div>
