<div class="tab-array">
    <div class="header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>

    <div class="container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="coords">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let row">
            <a href="https://www.google.fr/maps/@{{row.coords.y}},{{row.coords.x}},17z" target="_blank">
                <mat-icon>location_on</mat-icon>
            </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a href="{{row.link}}" target="_blank">
                    <mat-icon>info_outline</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dp">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DP</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.dp}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="info">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Info</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.info}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </div>
</div>
