.tab-analyze {
    .selects {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        .mat-form-field {
            flex: 1;
            width: 100%;
            margin: 0 5px;
        }

        .mat-checkbox {
            line-height: 65px;
            padding-left: 15px;
        }
    }

    .title {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    .canvases {
        position: relative;
        height: 100vh;
        width: 100vh;
        margin: auto;
    }
}