.main-container {
    margin-top: 20px;

    .mat-tab-group {
        margin: 0 10%;
    }

    /deep/ .mat-tab-label {
        flex: 1;
    }
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}