<div class="tab-export" *ngIf="initialData">
    <div class="filters">
        <div class="quarters">
            <div class="title">QUARTERS</div>
            <mat-checkbox *ngFor="let cp of env.cpList" [checked]="isSelected(cp, selectedCp)" (change)="toggleCpCheckbox(cp)">{{cp}}</mat-checkbox>
        </div>
    
        <div class="types">
            <div class="title">TYPES</div>
            <mat-checkbox *ngFor="let type of env.typeList" [checked]="isSelected(type, selectedType)" (change)="toggleTypeCheckbox(type)">{{type}}</mat-checkbox>
        </div>
    
        <div class="detail">
            <div class="title">DETAIL</div>
    
            <div class="detail-cinemas" *ngIf="isSelected('Cinemas', selectedType)">
                <div class="header">
                    Cinéma
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Min rooms" value="0">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Min seats" value="0">
                </mat-form-field>   
            </div>
    
            <div class="detail-events" *ngIf="isSelected('Events', selectedType)">
                <div class="header">
                    Events
                </div>
                <mat-form-field>
                    <input matInput [matDatepicker]="dateStart" placeholder="Start date">
                    <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                    <mat-datepicker #dateStart></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="dateEnd" placeholder="End date">
                    <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                    <mat-datepicker #dateEnd></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="button">
        <button mat-fab>
            <mat-icon aria-label="download xml" (click)="download()">vertical_align_bottom</mat-icon>
        </button>
    </div>
</div>
