.tab-export {
    margin-top: 20px;

    .filters {
        display: flex;

        .quarters {
            flex: 1;
    
            .mat-checkbox {
                display: block;
                margin: 3px 0;
            }
        }
    
        .types {
            flex: 1;
    
            .mat-checkbox {
                display: block;
                margin: 3px 0;
            }
        }
    
        .detail {
            flex: 1;
        }
    }

    .button {
        text-align: center;
        padding: 10px;
    }
}