.tab-compare {
    .selects {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        .mat-form-field {
            flex: 1;
            width: 100%;
            margin: 0 5px;
        }

        .mat-checkbox {
            line-height: 65px;
            padding-left: 15px;
        }
    }

    .title {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    .charts {
        display: flex;
        flex-direction: row;

        .chart {
            flex: 1;
        }
        
    }

    .note {
        margin-top: 10px;
        width: 100%;
        font-size: 0.9em;
        text-align: center;
    }
}
